@{
    ViewBag.Title = "Index";
}

<div role="main" class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="nivo-slider">
                    <div class="slider-wrapper theme-default">
                        <div id="nivoSlider" class="nivoSlider">
                            <img src="/siteTema/resimler/slider1.png" style="width: 683px; visibility: hidden; display: inline;">
                            <img src="/siteTema/resimler/slider2.png" style="width: 683px; visibility: hidden; display: inline;">
                            <img src="/siteTema/resimler/slider3.png" style="width: 683px; visibility: hidden; display: inline;">
                            <img src="/siteTema/resimler/slider4.png" style="width: 683px; visibility: hidden; display: inline;">
                            <img class="nivo-main-image" src="/siteTema/resimler/slider3.png" style="display: inline; height: 258px; width: 683px; overflow: hidden;"><div class="nivo-caption"></div><div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div><div class="nivo-slice" name="0" style="left: 0px; width: 46px; height: 258px; opacity: 0.363196; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-0px;"></div><div class="nivo-slice" name="1" style="left: 46px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-46px;"></div><div class="nivo-slice" name="2" style="left: 92px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-92px;"></div><div class="nivo-slice" name="3" style="left: 138px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-138px;"></div><div class="nivo-slice" name="4" style="left: 184px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-184px;"></div><div class="nivo-slice" name="5" style="left: 230px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-230px;"></div><div class="nivo-slice" name="6" style="left: 276px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-276px;"></div><div class="nivo-slice" name="7" style="left: 322px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-322px;"></div><div class="nivo-slice" name="8" style="left: 368px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-368px;"></div><div class="nivo-slice" name="9" style="left: 414px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-414px;"></div><div class="nivo-slice" name="10" style="left: 460px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-460px;"></div><div class="nivo-slice" name="11" style="left: 506px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-506px;"></div><div class="nivo-slice" name="12" style="left: 552px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-552px;"></div><div class="nivo-slice" name="13" style="left: 598px; width: 46px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-598px;"></div><div class="nivo-slice" name="14" style="left: 644px; width: 39px; height: 258px; opacity: 0; overflow: hidden; top: 0px;"><img src="siteTema/resimler/slider4.png" style="position:absolute; width:683px; height:auto; display:block !important; top:0; left:-644px;"></div>
                        </div><div class="nivo-controlNav"><a class="nivo-control" rel="0">1</a><a class="nivo-control" rel="1">2</a><a class="nivo-control" rel="2">3</a><a class="nivo-control active" rel="3">4</a></div>
                        <div id="htmlcaption" class="nivo-html-caption"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
<div class="container">
    <div class="row">
        <hr class="tall">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">Hızlı ve Eksiksiz Destek</h4>
                            <p class="tall">Hızlı ve çözüme dayalı online kullanıcı desteği</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-film"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">Tam Entegrasyon</h4>
                            <p class="tall">Var olan ve eklenen modüllerin tam entegre olarak çalışması</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-hand-o-up"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">Kolay Kullanım</h4>
                            <p class="tall">Gelişmiş altyapı sayesinde her işletim sisteminde kolaylıkla çalışma özelliği</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">Daima Güncel</h4>
                            <p class="tall">Daima güncel sistem kullanım garantisi</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">Güvenlik</h4>
                            <p class="tall">Verilerinizin güvenli bir ortamda saklanması , yedekleme ve erişebilirlik</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-try"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="shorter">Düşük Maliyet</h4>
                            <p class="tall">Daha düşük bir maliyet ve toplan satın alma garantisi </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="/Content/index.html#collapseOne">
                                <i class="fa fa-laptop"></i>
                                Web Yazılım
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="panel-body">
                            .Net framework, Asp.Net, MVC, HTML5 teknolojileri ile müşterilerimizin ihtiyaçlarına yönelik dinamik web uygulamaları.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="/Content/index.html#collapseTwo">
                                <i class="fa fa-line-chart"></i>
                                Analiz
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="panel-body">
                            İyi bir yazılım projesinin temeli doğru belirlenmiş ihtiyaçlar ve doğru yapılmış bir analizdir.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="/Content/index.html#collapseThree">
                                <i class="fa fa-group"></i>
                                Destek
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="panel-body">
                            Yazılımlarımız değişen şartlar ve yeni ihtiyaçlarınız için size her zaman destek
                            olabileceğimiz şekilde geliştirilmektedir.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="tall">

    <div class="row center">
        <div class="col-md-12">
            <h2 class="short word-rotator-title">
                <strong>
                    Referanslarımız
                </strong>
            </h2>
        </div>
    </div>
    <br>
    <br>

    <div class="row center">
        <div class="owl-carousel owl-theme owl-loaded owl-carousel-init" data-plugin-options="{&quot;items&quot;: 6, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 3000}">
























            <div class="owl-stage-outer" style="padding-left: 0px; padding-right: 0px; height: 133px;">
                <div class="owl-stage" style="width: 8556px; transform: translate3d(-7130px, 0px, 0px); transition: all 0.25s ease 0s;">
                    <div class="owl-item cloned" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/d6b83a4e-e79a-4d23-b420-dc8b8bc05127.png">
                        </div>
                    </div><div class="owl-item" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/90ffa457-38a4-4c49-9660-029866f80738.png">
                        </div>
                    </div><div class="owl-item" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/b55a5b2d-c048-4c5b-83be-702ea532cefa.png">
                        </div>
                    </div><div class="owl-item" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/77907518-cda8-4fc2-8872-de6e3d5ed76c.png">
                        </div>
                    </div><div class="owl-item" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/ecf8c5c5-15cc-48d4-bc0e-2bf428df25c5.png">
                        </div>
                    </div><div class="owl-item" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/033f0932-cf08-4fac-8358-463e19d9eb87.png">
                        </div>
                    </div><div class="owl-item" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/7c592a6c-4080-48e3-bfd3-ec05b19bf709.png">
                        </div>
                    </div><div class="owl-item" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/78459029-ca4d-4040-9ffe-8da361dae44e.png">
                        </div>
                    </div><div class="owl-item" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/413ad30a-ba49-4864-b179-ec36520bf95d.png">
                        </div>
                    </div><div class="owl-item" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/01f78cd9-f85f-41ff-8b82-b2ecdb174080.png">
                        </div>
                    </div><div class="owl-item active" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/d6b83a4e-e79a-4d23-b420-dc8b8bc05127.png">
                        </div>
                    </div><div class="owl-item cloned" style="width: 713px; margin-right: 0px;">
                        <div>
                            <img class="img-responsive" src="siteTema/resimler/projelerimiz/Referanslar/Kucuk/90ffa457-38a4-4c49-9660-029866f80738.png">
                        </div>
                    </div>
                </div>
            </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>
        </div>
    </div>
</div>

